
.ei {
    position: fixed;
    top: 45vh;
    bottom: 0;
    left: 45vw;
    right: 0;
    width: 10vw;
    height: 7.5vw;
    background-color: beige;
    border-radius: 70% 60% 60% 70%;
    box-shadow: inset -1vw -1vw 2vw rgba(180, 147, 133, 0.489)
}

.ei1 {
    position: fixed;
    top: 45vw;
    bottom: 0;
    left: 45vw;
    right: 0;
    width: 10vw;
    height: 7.5vw;
    background-color: beige;
    opacity: 0%;
    border-radius: 70% 60% 60% 70%;
    box-shadow: inset -1vw -1vw 2vw rgba(180, 147, 133, 0.489)
}


.pfannehinten {
    position: absolute;
    bottom: 47.5vh;
    left: 34.5vw;
    width: 31vw;
    height: 9vw;
    background-color: rgb(29, 29, 29);
    border-radius: 100% 100% 50% 50%;
    box-shadow: inset -2vw 2vw 2vw rgb(72, 72, 72);
}

.eiweiß {
    position: absolute;
    top: 0vw;
    left: 2.5vw;
    width: 25vw;
    height: 8vw;
    background-color: rgb(207, 200, 192);
    opacity: 0;
    border-radius: 50%;
    box-shadow: inset -1vw -1vw 2vw rgb(127, 120, 112);
}

.eiweiß1 {
    position: absolute;
    top: 0vw;
    left: 2.5vw;
    width: 25vw;
    height: 8vw;
    background-color: rgb(207, 200, 192);
    opacity: 20%;
    border-radius: 50%;
    box-shadow: inset -1vw -1vw 2vw rgb(127, 120, 112);
}

.eiweiß2 {
    position: absolute;
    top: 0vw;
    left: 2.5vw;
    width: 25vw;
    height: 8vw;
    background-color: rgb(207, 200, 192);
    opacity: 100%;
    border-radius: 50%;
    box-shadow: inset -1vw -1vw 2vw rgb(127, 120, 112);
}


.eigelb{
    position: absolute;
    top: 1.5vw;
    left: 11.5vw;
    width: 7vw;
    height: 3vw;
    background-color: orange;
    opacity: 80%;
    border-radius: 50% 50% 40% 40%;
    box-shadow: inset -0.5vw -0.5vw 1vw rgb(178, 93, 3);
}

.pfannenboden {
    position: absolute;
    bottom: 45vh;
    left: 35vw;
    width: 30vw;
    height: 9vw;
    background-color: grey;
    border-radius: 50%;
    box-shadow: inset 2vw 2vw 3vw rgb(63, 63, 63);
}

.pfannevorne {
    position: absolute;
    bottom: 44.9vh;
    left: 34.5vw;
    width: 31vw;
    height: 7.5vw;
    background-color: rgb(29, 29, 29);
    --c: 60;
    mask: radial-gradient(calc(var(--c)*1%) 100% at 50% calc(-100%*cos(asin(50/var(--c)))),#0000 calc(100% - 1px),#000);
    clip-path: ellipse(calc(var(--c)*1%) 100% at top);
    border-radius: 0% 0% 150% 150%;
    box-shadow: inset 6vw 1vw 5vw rgb(72, 72, 72);
}

.bg {
    position: absolute;
    width: 100vw;
    height: 200vh;

}


.ei:active {
opacity: 0%;
}