
.ei {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10vh;
    height: 7.5vh;
    background-color: beige;
    border-radius: 70% 60% 60% 70%;
    box-shadow: inset -1vh -1vh 2vh rgba(180, 147, 133, 0.489);
    transition: 500ms;
    transition-delay: 20ms;
}

.ei1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10vh;
    height: 7.5vh;
    background-color: beige;
    opacity: 0%;
    border-radius: 70% 60% 60% 70%;
    box-shadow: inset -1vw -1vw 2vw rgba(180, 147, 133, 0.489)
}


.pfannehinten {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 45vh;
    width: 31vh;
    height: 9vh;
    background-color: rgb(29, 29, 29);
    border-radius: 100% 100% 50% 50%;
    box-shadow: inset -2vh 1vh 2vh rgb(72, 72, 72);
}

.eiweiß {
    position: absolute;
    top: 0vh;
    bottom: 20vh;
    left: 0vh;
    right: 0vh;
    margin: auto;
    width: 0vh;
    height: 0vh;
    background-color: rgb(207, 200, 192);
    opacity: 0%;
    border-radius: 50%;
    box-shadow: inset -2vh -2vh 3vh rgb(127, 120, 112);
    transition: 500ms;
}

.eiweiß1 {
    position: absolute;
    top: 0vh;
    left: 2.5vh;
    width: 25vh;
    height: 8vh;
    background-color: rgb(207, 200, 192);
    opacity: 20%;
    border-radius: 50%;
    box-shadow: inset -1vh -1vh 2vh rgb(127, 120, 112);
}

.eiweiß2 {
    position: absolute;
    top: 0vh;
    left: 2.5vh;
    width: 25vh;
    height: 8vh;
    background-color: rgb(207, 200, 192);
    opacity: 100%;
    border-radius: 50%;
    box-shadow: inset -1vh -1vh 2vh rgb(127, 120, 112);
}


.eigelb{
    position: absolute;
    top: -2.5vh;
    left: 11.5vh;
    width: 7vh;
    height: 3vh;
    background-color: orange;
    opacity: 0%;
    border-radius: 50% 50% 40% 40%;
    box-shadow: inset -0.5vh -0.5vh 1vh rgb(178, 93, 3);
    transition: 500ms;
}

.pfannenboden {
    position: absolute;
    bottom: -2.5vh;
    left: 0.5vh;
    width: 30vh;
    height: 9vh;
    background-color: grey;
    border-radius: 50%;
    box-shadow: inset 2vh 1vh 2vh rgb(63, 63, 63);
}

.pfannevorne {
    position: absolute;
    bottom: -2.6vh;
    left: 0vh;
    width: 31vh;
    height: 7.5vh;
    background-color: rgb(72, 72,72);
    --c: 60;
    mask: radial-gradient(calc(var(--c)*1%) 100% at 50% calc(-100%*cos(asin(50/var(--c)))),#0000 calc(100% - 1px),#000);
    clip-path: ellipse(calc(var(--c)*1%) 100% at top);
    border-radius: 0% 0% 150% 150%;
    box-shadow: inset -25vh -2vh 5vh rgb(29, 29, 29);
}

.griff {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 2.4vh;
    margin-left: 31vh;
    height: 2.5vh;
    width: 17.5vh;
    background-color: rgb(72, 72, 72);
    border-radius: 0% 30% 30% 0%;
    box-shadow: inset 1vh -1.5vh 1vh rgb(29, 29, 29);
}

.bg {
    position: absolute;
    width: 100vw;
    height: 200vh;
    background-color: rgb(191, 191, 191);
}

.tile {
    position: relative;
    margin: 0.5vh;
    height: 19vh;
    width: 19vw;
    background-color: whitesmoke;
    box-shadow: inset -1vh -1vh 1vh lightgray;
    border-radius: 2%;
    ;
}

.container {
    display: flex;
}

.counter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 56.5vh;
    background-color: rgb(194, 151, 113);
}

.stove {
    position: absolute;
    top: 4vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vh;
    height: 10vh;
    --p: 5vh;
    background-color: #000;
    clip-path: polygon(var(--p) 0,calc(100% - var(--p)) 0,100% 100%,0 100%);
    border-radius: 2%;

}

body.scroll-ende {
    .eiweiß {
    position: absolute;
    top: 0vh;
    bottom: 0vh;
    left: 0vh;
    right: 0vh;
    margin-left: 2.5vh;
    margin:auto;
    width: 25vh;
    height: 8vh;
    background-color: rgb(207, 200, 192);
    opacity: 100%;
    border-radius: 50%;
    box-shadow: inset -1vw -1vw 2vw rgb(127, 120, 112);
    animation-name: braten;
    animation-duration: 10s;
    animation-iteration-count: 1;
    }
    .eigelb {
        opacity: 80%;
        top: 1.5vh;
        animation-name: braten2;
        animation-duration: 10s;
    }
    .ei {
        opacity: 0%;
}
}

@keyframes braten {
  from {
    opacity: 20%;
  }
}

@keyframes braten2 {
  from {
    opacity: 80%;
  }
}
