
.starburst {
  position: absolute;
  top: 3vw;
  left: 20vw;
  width: 60vw;
  height: 60vw;
  background-color: yellow;
  aspect-ratio: 1;
  clip-path: polygon(100% 50%,59.66% 52.59%,93.3% 75%,57.07% 57.07%,75% 93.3%,52.59% 59.66%,50% 100%,47.41% 59.66%,25% 93.3%,42.93% 57.07%,6.7% 75%,40.34% 52.59%,0% 50%,40.34% 47.41%,6.7% 25%,42.93% 42.93%,25% 6.7%,47.41% 40.34%,50% 0%,52.59% 40.34%,75% 6.7%,57.07% 42.93%,93.3% 25%,59.66% 47.41%);
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
   
}

.cloud {
    position: absolute;
    top: 5vw;
    height: 10vw;
    aspect-ratio: 2;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: white;
    opacity: 75%;
    animation-name: moving;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cloud2 {
    position: absolute;
    top: 20vw;
    height: 15vw;
    aspect-ratio: 2;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: white;
    opacity: 75%;
    transform: scaleX(-1);
    animation-name: moving2;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cloud3 {
    position: absolute;
    top: 50vw;
    height: 20vw;
    aspect-ratio: 2;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
    background: white;
    opacity: 75%;
    animation-name: moving3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moving {
  from {
    left: -10vw;
  }
  to {
    left: 90vw;
  }
}

@keyframes moving2 {
  from {
    left: 90vw;
  }
  to {
    left: -20vw;
  }
}

@keyframes moving3 {
  from {
    left: -30vw;
  }
  to {
    left: 90vw;
  }
}

.hair {
  position: absolute;
  width: 30vw;
  height: 33vw;
  top: 14vw;
  left: 37.8vw;
  background-color: black;
  box-shadow: inset -2vw -5vw 7vw whitesmoke;
  clip-path: polygon(63% 20%, 55% 13%, 28% 16%, 13% 24%, 2% 35%, 0% 48%, 3% 56%, 7% 64%, 13% 54%, 23% 50%, 32% 38%, 29% 48%, 41% 37%, 39% 48%, 50% 42%, 57% 37%, 63% 47%, 69% 49%, 72% 55%, 70% 63%, 82% 49%, 80% 33%, 74% 23%);
}

.head {
  position: absolute;
  top: 20vw;
  left: 40vw;
  width: 20vw;
  height: 30vw;
  box-shadow: inset -0.5vw -0.5vw 2vw #915c4e;
  background-color: #c99175;
  border-radius: 47% 48% 42% 42% / 32% 33% 45% 44%;
}

.eye {
  position: absolute;
  top: 0.2vw;
  left: 0.2vw;
  height: 6vw;
  width: 6vw;
  box-shadow: inset 0vw 1vw 1vw lightblue;
  background-color: white;
  clip-path: polygon(51% 26%, 90% 46%, 98% 54%, 47% 72%, 10% 59%, 0 40%);
}

.eye2 {
  position: absolute;
  top: 0.2vw;
  left: 0.2vw;
  height: 6vw;
  width: 6vw;
  box-shadow: inset 0vw 1vw 1vw lightblue;
  background-color: white;
  clip-path: polygon(51% 26%, 90% 46%, 98% 54%, 47% 72%, 10% 59%, 0 40%);
}

.eyeliner {
  position: absolute;
  top: 11.8vw;
  left: 1.3vw;
  height: 6.3vw;
  width: 6.3vw;
  background-color: black;
  clip-path: polygon(51% 26%, 90% 46%, 98% 54%, 47% 72%, 10% 59%, 0 40%);
}

.eyeliner2 {
  position: absolute;
  top: 11.8vw;
  left: 12.2vw;
  height: 6.3vw;
  width: 6.3vw;
  background-color: black;
  transform: scaleX(-1);
  clip-path: polygon(51% 26%, 90% 46%, 98% 54%, 47% 72%, 10% 59%, 0 40%);
}

.eyeshadow {
  position: absolute;
  top: 10.5vw;
  left: 0.3vw;
  height: 8vw;
  width: 7vw;
  box-shadow: inset 1vw 3vw 2vw #c99175;
  background-color: #915c4e;
  clip-path: polygon(51% 26%, 90% 46%, 98% 54%, 47% 72%, 10% 59%, 0 40%);
}

.eyeshadow2 {
  position: absolute;
  top: 10.5vw;
  left: 12.5vw;
  height: 8vw;
  width: 7vw;
  box-shadow: inset 1vw 3vw 2vw #c99175;
  background-color: #915c4e;
  transform: scaleX(-1);
  clip-path: polygon(51% 26%, 90% 46%, 98% 54%, 47% 72%, 10% 59%, 0 40%);
}

.pupil {
  position: absolute;
  top: 1vw;
  left: 1.4vw;
  width: 3vw;
  height: 3vw;
  background: #000000;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(66, 33, 33, 1) 50%, rgba(89, 66, 66, 1) 100%);
  clip-path: circle(50% at 50% 50%);
}

.reflection {
  position: absolute;
  top: 1.9vw;
  left: 1.5vw;
  width: 0.5vw;
  height: 1vw;
  background-color: white;
  clip-path: circle();
}

.reflection2 {
  position: absolute;
  top: 1.9vw;
  left: 1.5vw;
  width: 0.5vw;
  height: 1vw;
  transform: scaleX(-1);
  background-color: white;
  clip-path: circle();
}

.reflection2 {
  position: absolute;
  top: 1.9vw;
  left: 3.3vw;
  width: 0.5vw;
  height: 1vw;
  background-color: white;
  clip-path: circle();
}

.brow {
  position: absolute;
  top: 9.5vw;
  left: 1vw;
  height: 7vw;
  width: 7vw;
  background-color: black;
  clip-path: polygon(100% 35%, 72% 25%, 43% 21%, 13% 26%, 0 46%, 19% 43%, 42% 38%, 64% 39%, 82% 43%, 97% 50%);
}

.brow2 {
  position: absolute;
  top: 9.5vw;
  left: 11.5vw;
  height: 7vw;
  width: 7vw;
  transform: scaleX(-1);
  background-color: black;
  clip-path: polygon(100% 35%, 72% 25%, 43% 21%, 13% 26%, 0 46%, 19% 43%, 42% 38%, 64% 39%, 82% 43%, 97% 50%);
}

.nose {
  position: absolute;
  top: 15vw;
  left: 6.4vw;
  background-color: #ab6b5b;
  box-shadow: 1vw 1vw 2vw #915c4e;
  width: 7vw;
  height: 7vw;
  clip-path: polygon(50% 0%, 30% 100%, 70% 100%);
}

.nose2 {
  position: absolute;
  top: 21.99vw;
  left: 6.5vw;
  background-color: #915c4e;
  width: 7vw;
  height: 0.5vw;
  transform: scaleY(-1);
  clip-path: polygon(50% 0%, 30% 100%, 70% 100%);
}

.toplip {
  position: absolute;
  top: 22vw;
  left: 6.5vw;
  width: 7vw;
  height: 6vw;
  box-shadow: inset 0vw 3vw 1vw #A03232;
  background-color: #c45c67;
  clip-path: polygon(48% 45%, 39% 40%, 12% 49%, 3% 51%, 48% 51%, 98% 50%, 85% 48%, 58% 40%);
}

.bottomlip {
  position: absolute;
  top: 22.3vw;
  left: 6.5vw;
  width: 7vw;
  height: 6vw;
  box-shadow: inset 0vw -2.5vw 0.5vw #A03232;
  background-color: #c45c67;
  clip-path: polygon(0% 45%, 100% 46%, 79% 61%, 47% 65%, 22% 61%);
}

.ear {
  position: absolute;
  top: 32vw;
  left: 35vw;
  width: 10vw;
  height: 10vw;
  box-shadow: inset -1vw -1vw 3vw #915c4e;
  background-color: #c99175;
  clip-path: ellipse(29% 40% at 50% 50%);
}

.ear2 {
  position: absolute;
  top: 32vw;
  left: 55vw;
  width: 10vw;
  height: 10vw;
  box-shadow: inset -2vw -1vw 3vw #915c4e;
  background-color: #c99175;
  clip-path: ellipse(29% 40% at 50% 50%);
}

.augenfalte {  
  position: absolute;
  top: 14.5vw;
  left: 1.5vw;
  width: 6vw;
  height: 4vw;
  box-shadow: inset 2vw 3vw 2vw #c99175;
  background-color: #915c4e;
  clip-path: polygon(99% 32%, 90% 47%, 72% 63%, 41% 71%, 20% 66%, 5% 54%, 0% 37%, 12% 41%, 34% 51%, 55% 49%, 78% 46%, 89% 41%);
}

.augenfalte2 {  
  position: absolute;
  top: 14.5vw;
  left: 11.9vw;
  width: 6vw;
  height: 4vw;
  box-shadow: inset 2vw 3vw 2vw #c99175;
  background-color: #915c4e;
  transform: scaleX(-1);
  clip-path: polygon(99% 32%, 90% 47%, 72% 63%, 41% 71%, 20% 66%, 5% 54%, 0% 37%, 12% 41%, 34% 51%, 55% 49%, 78% 46%, 89% 41%);
}

.lachfalte {
  position: absolute;
  top: 22.5vw;
  left: 4.7vw;
  width: 4vw;
  height: 4vw;
  box-shadow: inset 2vw 2vw 3.5vw #c99175;
  background-color: #915c4e;
  clip-path: polygon(97% 23%, 67% 31%, 50% 47%, 33% 76%, 31% 92%, 27% 75%, 21% 54%, 30% 33%, 50% 17%, 79% 16%);
}

.lachfalte2 {
  position: absolute;
  top: 22.5vw;
  left: 11.3vw;
  width: 4vw;
  height: 4vw;
  transform: scaleX(-1);
  box-shadow: inset 2vw 2vw 3.5vw #c99175;
  background-color: #915c4e;
  clip-path: polygon(97% 23%, 67% 31%, 50% 47%, 33% 76%, 31% 92%, 27% 75%, 21% 54%, 30% 33%, 50% 17%, 79% 16%);
}

.stache {
  position: absolute;
  top: 21vw;
  left: 5vw;
  width: 5vw;
  height: 6vw;
  background-color: black;
  opacity: 50%;
  box-shadow: inset -0.1vw -3vw 3vw #c99175;
  clip-path: polygon(99% 34%, 87% 28%, 61% 33%, 18% 45%, 4% 55%, 1% 64%, 5% 71%, 17% 66%, 51% 57%, 80% 54%, 92% 56%, 99% 60%);
}

.stache2 {
  position: absolute;
  top: 21vw;
  left: 10vw;
  width: 5vw;
  height: 6vw;
  transform: scaleX(-1);
  background-color: black;
  opacity: 50%;
  box-shadow: inset -0.1vw -3vw 3vw #c99175;
  clip-path: polygon(99% 34%, 87% 28%, 61% 33%, 18% 45%, 4% 55%, 1% 64%, 5% 71%, 17% 66%, 51% 57%, 80% 54%, 92% 56%, 99% 60%);
}

.beard {
  position: absolute;
  top: 21vw;
  left: 5vw;
  width: 5vw;
  height: 6vw;
  background-color: black;
  opacity: 50%;
  box-shadow: inset -0.1vw -3vw 3vw #c99175;
  clip-path: polygon(99% 34%, 87% 28%, 61% 33%, 18% 45%, 4% 55%, 1% 64%, 5% 71%, 17% 66%, 51% 57%, 80% 54%, 92% 56%, 99% 60%);
}

.eyeliner:hover {
  position: absolute;
  top: 15vw;
  left: 1.5vw;
  height: 0vw;
  width: 6vw;
  background-color: black;
  clip-path: polygon(51% 26%, 90% 46%, 98% 54%, 47% 72%, 10% 59%, 0 40%);
  transition: 1200ms;
}

.eyeliner2:hover {
  position: absolute;
  top: 15vw;
  left: 12.3vw;
  height: 0vw;
  width: 6vw;
  background-color: black;
  clip-path: polygon(51% 26%, 90% 46%, 98% 54%, 47% 72%, 10% 59%, 0 40%);
  transition: 1000ms;
}




